footer{
	background-color: var(--gray1);
	display: flex;
	justify-content: center;
}
.footer-container{
	max-width: 100vw;
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
}

.footer-container > *{
	margin: 2em;
}

.social-links{
	display: flex;
	flex-direction: column;
	margin: 0;
	flex-grow: 1;
	max-width: 22em;
}

.social-icons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
}

.footer-links{
	list-style: none;
	padding: 0.2em;
	position: relative;
}

.footer-links-container{
	max-width: 13em;
	position: relative;
	flex-grow: 1;
}

.footer-links a, .footer-h4{
	text-decoration: none;
	color:var(--orange1);
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	position: relative;
}

.footer-h4{
	font-size: 24px;
	text-align: center;
}

.footer-links li:not(nth:last-child){
	margin-bottom: 0.2em;
}

.footer-links li a{
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 500;
	transition: all 0.3s ease;
	white-space: nowrap;
}

.footer-links li a:hover{
	color: #ec623b;
	padding-left: 0.2em;
	margin-right: -0.2em;
}


.footer-logo > img{
	max-height: 10em;
	max-width: 100%;
}

.footer-logo-container{
	display: flex;
	align-items: center;
	margin: 0;
}

.social-icons > a{
	display: inline-block;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border-radius: 50%;
	margin: 0.2em;
	text-align: center;
	background-color: var(--orange1);
	color: var(--gray1);
	font-size: 2em;
	transition: all 0.5s ease;
}

.social-icons > a:hover{
	background-color: #ec623b;
}

/* Media queries */
@media(max-width: 800px){
	.footer-container{
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media(max-width: 490px){
	.social-icons{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.footer-container{
		flex-direction: column;	
		align-items: center;
	}

	.footer-links-container{
		grid-template-columns: 1fr;
	}
	.footer-links-container{
		margin: 0;
	}
}