main{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
}

main > *, .home-links > a{
	color: var(--white1);
	padding: 0.5em;
	font-family: "Oswald", sans-serif;
}

.home-top-container{
	color: var(--orange1);
	text-align: center;
	background-color: var(--gray1);
	border: 1px solid var(--white1);
	box-shadow: 0em 0em 0.5em -0.1em var(--white1);
	border-radius: 1em;
	margin: 0.5em;
	margin-top: 3em;
}

.home-top-container > p{
	margin-top: 0;
}

.home-top-container > h1{
	margin-bottom: 0;
}

.home-paragraph1, .home-paragraph2{
	display: flex;
	flex-direction: column;
	background-color: var(--gray2);
	border: 1px solid var(--white1);
	box-shadow: 0em 0em 0.5em -0.1em var(--white1);
	margin: 0.5em;
	margin-top: 2em;
	margin-bottom: 2em;
	border-radius: 1em;
	padding: 1.2rem;
	max-width: 35em;
}

.home-paragraph1 > p, .home-paragraph2 > p{
	font-size: large;
}

.home-paragraph2 > p{
	margin-top: 0;
}

.home-paragraph2 > h3{
	margin-bottom: 0;
}

.conference-image{
	display: flex;
}

.conference-image > img{
	max-height: 19.8em;
	max-width: 100%;
	flex-grow: 1;
	border-radius: 1em;
	border: 1px solid var(--white1);
	box-shadow: 0em 0em 0.5em -0.1em var(--white1);
	border-radius: 1em;
}

.home-paragraph2{
	animation: fade 3s linear both;
	animation-timeline: view();
	animation-range: entry 10% cover 30%;
}

.home-links > a, .paragraph2-end{
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	padding-left: 0;
}

.home-links > a:hover, .home-links > a:focus{
	color: var(--orange1);
	transition: color 0.5s;
}

.home-links{
	margin: 0;
}

@keyframes fade{
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}