*::before, *::after, *{
	box-sizing: border-box;
}

:root{
	--orange1: #F15025;
	--gray1: #1f1f1f;
	--white1: #E6E8E6;
	--gray2: #383838;
}

body{
	margin: 0;
	background-image: url(images/orange-light.jpg);
	backdrop-filter: blur(10px);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

